@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewBag.Token</p>
    <form>
        <button type = "submit" class = "btn btn-outline-info" asp-action = "DisplayToken">GenerateToken</button>
    </form>
</div>
